@using RunGroupSocialMedia.ViewModels
@model EditUserDashboardViewModel

<form asp-action="EditProfile" method="post" class="container" enctype="multipart/form-data">
    <input type="hidden" id="Id" name="Id" asp-for="id" />
    <div class="col-6">
        <div class="form-group">
            <label asp-for="Image">Profile Image</label>
            <input asp-for="Image" type="file" class="form-control" placeholder="Image"/>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label asp-for="City">City:</label>
            <input asp-for="City" type="text" class="form-control form-control-lg" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label asp-for="State">State:</label>
            <input asp-for="State" type="text" class="form-control form-control-lg" />
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label asp-for="Pace">Pace:</label>
            <input asp-for="Pace" type="text" class="form-control form-control-lg" />
            <span asp-validation-for="Pace" class="text-danger"></span>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label asp-for="Mileage">Mileage:</label>
            <input asp-for="Mileage" type="text" class="form-control form-control-lg" />
            <span asp-validation-for="Mileage" class="text-danger"></span>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label for="about-me">About me:</label>
            <textarea class="form-control form-control-lg"
                      name="profileBio"
                      rows="4"
                      id="about-me"></textarea>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Save changes</button>
        </div>
    </div>
</form>